<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>507642085470-i6rm6i8kfcnr2og02c1mkmm5a4dtt3gq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.507642085470-i6rm6i8kfcnr2og02c1mkmm5a4dtt3gq</string>
	<key>API_KEY</key>
	<string>AIzaSyCyXIkwuMOP9dB10Nnm_poJPa7qNTGACXg</string>
	<key>GCM_SENDER_ID</key>
	<string>507642085470</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.soaringearth.LanguageApp</string>
	<key>PROJECT_ID</key>
	<string>japaneselanguageapp-bb1aa</string>
	<key>STORAGE_BUCKET</key>
	<string>japaneselanguageapp-bb1aa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:507642085470:ios:f7d484510d65afa0f734cf</string>
</dict>
</plist>